.flex-init-setup {
    display: -webkit-box;
    display: -moz-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}
.flex-ppal-setup {
    -webkit-flex-flow: column wrap;
    -moz-flex-flow: column wrap;
    flex-flow: column wrap;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    justify-content: center;
}

body{
    width: 100%;
    height: 100%;
    /*background: #002a80;*/
    background-image: url("1556938.jpg");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    /*background-size:100%;*/
    /*background-image: url("merry-christmas-2012-fb-timeline-cover.4jpg1.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    -webkit-background-size: 100%;
    width: 100%;
    height: 100%;*/
}
#start_draw{
    background: linear-gradient(top, #d0e9c6, #777777);
    background: -moz-linear-gradient(top, #d0e9c6, #777777);
    background: -webkit-linear-gradient(top, #d0e9c6, #777777);
    background: -o-linear-gradient(top, #d0e9c6, #777777);
    border:15px solid transparent;

    -webkit-border-image:url(border.png) 30 30 stretch; /* Safari 5*/
    -o-border-image:url(border.png) 30 30 stretch;  /*Opera 10.5-12.1*/
    border-image:url(border.png) 30 30 stretch;
}
#winner label{
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    border-radius: 50px;
    text-align: center;
    background-color: #000000;
    padding: 30px;
    position: absolute;
    margin-left: 520px;
    margin-top:-400px;
    width: 1000px;
    color:#f89406;
    font-size: 50px;
}
#random_prizes{
    background: linear-gradient(top, #a9302a, #0088cc, #a9302a);
    background: -moz-linear-gradient(top, #a9302a, #0088cc, #a9302a);
    background: -webkit-linear-gradient(top, #a9302a, #0088cc, #a9302a);
    background: -o-linear-gradient(top, #a9302a, #0088cc, #a9302a);
    margin-left: 150px;
    border-radius: 20px;
    padding: 20px 50px 20px 50px;
    text-align: center;
    font-family: Arial;
    font-size: 20px;
}
#start{
    border-radius: 20px;
    padding: 20px 50px 20px 50px;
    text-align: center;
    font-family: Arial;
    background: linear-gradient(top, #a9302a, #0088cc, #a9302a);
    background: -moz-linear-gradient(top, #a9302a, #0088cc, #a9302a);
    background: -webkit-linear-gradient(top, #a9302a, #0088cc, #a9302a);
    background: -o-linear-gradient(top, #a9302a, #0088cc, #a9302a);
    font-size: 20px;
}#draw{
    border-radius: 20px;
    padding: 20px 50px 20px 50px;
    text-align: center;
    font-family: Arial;
     background: linear-gradient(top, #a9302a, #0088cc, #a9302a);
     background: -moz-linear-gradient(top, #a9302a, #0088cc, #a9302a);
     background: -webkit-linear-gradient(top, #a9302a, #0088cc, #a9302a);
     background: -o-linear-gradient(top, #a9302a, #0088cc, #a9302a);
    font-size: 20px;
}
#random_prizes:hover{
    color:#c4e3f3;
}
#start:hover{
    color:#c4e3f3;
}
#draw:hover{
    color:#c4e3f3;
}
#logout{
    float:right;
    margin-right:30px;
}#demo1{
    color:#ffffff;
}
#reg_man_no .modal-body{
    height: 500px;
}
.full_name{
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
/*==================== TABLE DESIGN ===================*/
/*=============== TH Color ==================*/
#th_color{
    background: linear-gradient(top, #d0e9c6, #777777);
    background: -moz-linear-gradient(top, #d0e9c6, #777777);
    background: -webkit-linear-gradient(top, #faa732, #777777);
    background: -o-linear-gradient(top, #d0e9c6, #777777);
}
.background-image
{
    border: 1px solid #d9edf7;
    font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
    font-size: 12px;
    margin: 30px;
    width: 480px;
    text-align: left;
    border-collapse: collapse;
}
.background-image tr td{
    background-color: #d9edf7;
}
.background-image tr{
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.background-image th
{
    border: 1px solid #d9edf7;
    padding:10px;
    text-align: center;
    background: linear-gradient(top, #5bc0de, #c4e3f3);
    background: -moz-linear-gradient(top, #5bc0de, #c4e3f3);
    background: -webkit-linear-gradient(top, #5bc0de, #c4e3f3);
    background: -o-linear-gradient(top, #5bc0de, #c4e3f3);
    border-right: 1px solid #fff;
    border-bottom: 1px solid #fff;
    font-weight: normal;
    font-size: 14px;
    color: #339;

}
.background-image tr td
{
    padding: 4px;
    text-align:center;
    color: #669;
    border-top: 1px solid #fff;
}
.background-image tbody tr:hover td
{
    color: #339;
    background-color: #c4e3f3;
}

/*============= Sticky menu bar ==============*/
.sticky{
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 100;
    border-top: 0;
}


#winner #winner_draw{
    animation-duration: 1200ms;
    animation-name: blink;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    -webkit-animation:blink 20000ms infinite;

}
@keyframes blink {
    from {
        color:#003bb3;
    }
    to {
        color:#c67605;
    }
}
@-webkit-keyframes blink {
    from {
        color:#2f96b4;
    }
    to {
        color:#c67605;
    }
}

/*============== Image Loader ===============*/
.loading{
    z-index: 10000; /* to lock the background layout. If set to -1 the background is no locked. If positive, it is locked */
    filter: alpha(opacity=50); /*older IE*/
    filter:progid:DXImageTransform.Microsoft.Alpha(opacity=50); /* IE */
    -moz-opacity: .50; /*older Mozilla*/
    -khtml-opacity: 0.5;   /*older Safari*/
    opacity: 0.5;   /*supported by current Mozilla, Safari, and Opera*/
    background-color:#000000; /* background color of the layout when it appears*/
    position: fixed; top:0px; left:0px; width:100%; height:100%; color:#FFFFFF; text-align:center; vertical-align:middle;
    overflow:hidden;
    display: none;
}.image_loading{
     margin-top:250px;
     width:50px;
     height:50px;
 }
