<ul id="menu">
    <li><a href="#">Draw</a>
        <ul>
            <li><a href="#">Minor</a></li>
            <li><a href="#">Major</a></li>
        </ul>
    </li>
    <li><a href="#">Prize</a>
        <ul>
            <li><a href="#">Minor</a></li>
            <li><a href="#">Major</a></li>
        </ul>
    </li>
    <li><a href="#">Raffle Entries</a>
        <ul>
            <li><a href="#">Attendees</a></li>
            <li><a href="#">Non-Attendees</a></li>
            <li><a href="#">All Entries</a></li>
        </ul>
    </li>
    <li><a href="#">Registration</a>
        <ul>
            <li><a href="#">Register Entry</a></li>
            <li><a href="#">Upoad Man No. w/ Names</a></li>
        </ul>
    </li>
</ul>

